<!DOCTYPE html>
<html>
  <head>
    <title>opal-robots</title>
    <style type="text/css">
      svg { background-image: url(tiles2.png); display:block; margin: auto; }
      body { background-color: #ddd; margin: 0; }
    </style>
  </head>
  <body>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
