doctype html
html lang="en"
  head
    title RubyRobots
    link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css'
    css:
      body {
        padding: 20px;
        background: #0D1F26;
        color: #ddd;
        font-size: 15px;
      }
      #log {
        background-color: #002a37;
        padding: 1em;
      }
      #arena svg {
        background-image: url('tiles.png');
        width: 400px;
        height: 400px;
      }
      textarea {
        font-family: Monaco;
        font-size: 16px;
        padding: 5px;
      }
      #editor {
        width: 100%;
        height: 300px;
        font-size: 14px;
      }
      .documentation {
        padding: 10px 0;
      }
      .model {
        background-color: #003040;
        padding: 10px;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 5px;
      }
      .method {
        background-color: #17453C;
        padding: 8px 10px;

        font-family: Monaco;
        font-size: 14px;
      }
      .desc {
        padding: 10px;
        margin-left: 10px;
      }
      .examples {
        padding: 10px;
        white-space: pre;
        background-color: #002a37;
        color: #92a1a1;
        font-family: Monaco;
        font-size: 12px;
        margin-left: 10px;
        margin-bottom: 20px;
      }

    script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.8/ace.js' type='text/javascript' charset='utf-8'
    script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.8/theme-solarized_dark.js' type='text/javascript' charset='utf-8'
    script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.8/mode-ruby.js' type='text/javascript' charset='utf-8'

  body
    .pure-g
      .pure-u-1-2
        #arena
      .pure-u-1-2
        #text
          p Challenge 1 is the Dummy bot. Target practice!
          br
          #editor
            | class MyBot
                include Robot

                def tick(events)
                  # Write your robot brains in here!
                end
              end

          .documentation
            .model Robot Docs
            .method fire(strength=10)
            .desc Shoot with your gun this tick. If gun was recently fired and is still in cool-down, does nothing.
            .examples
              | fire          # Shoot with max strength, same as 'fire 10'
                fire 5        # Shoot with mid-strength, shorter cool-down
                fire 1        # Shoot with lowest strength, shortest cool-down

            .method turn_gun(speed=5)
            .desc Turn the gun anti-clockwise at given speed for the next tick.
            .examples
              | turn_gun      # Turn with mid-speed, same as 'turn_gun 5'
                turn_gun 10   # Turn with max-speed
                turn_gun 1    # Turn with min-speed

            .method robot_scanned?
            .desc Returns true or false if a robot was scanned by the scanner in the last tick.
            .examples
              | if robot_scanned?
                  # Robot was scanned, do something!
                else
                  # No robot was scanned, do something else!
                end

          button#run.pure-button Battle!

    javascript:
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/solarized_dark");
      editor.getSession().setMode("ace/mode/ruby");

    pre#log Battle log:

    == javascript_include_tag 'application'
