<!DOCTYPE html>
<html>
  <head>
    <title>opal-robots</title>
    <style type="text/css">
      body {
        font-family: sans-serif;
      }
      a:visited {
        color: #00e;
      }
      a:hover {
        color: #e00;
      }
      .or {
        margin-bottom: 1em;
      }
      #welcome, #log {
        background-color: #f7f7f7;
        border: 1px solid #e0e0e0;
        padding: 1em;
      }
      #arena, #text {
        float: left;
      }
      #text {
        width: 390px;
        margin-right: 10px;
      }
      #arena svg {
        border: 1px solid #e0e0e0;
        background-image: url("tiles.png");
      }

      textarea {
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <div id="text">
      <div id="welcome">
        <a href="https://gist.github.com/4r2r/8499891">SittingDuck</a>
        <a href="/#8499891vs8499895">Fight</a>
      </div>

      <textarea cols="50" rows="20" id="brains">
class MyDuck
  include Robot

  def tick events
    turn_radar 5 if time == 0
    fire 3 unless events['robot_scanned'].empty?
    turn_gun 10
  end
end
      </textarea>

      <pre id="log">Battle report</pre>
    </div>
    <div id="arena"></div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
